*{
  margin: 0;
  padding: 0;
}
header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: #333;
        color: #fff;
        padding: 1rem;
      }

      /* Estilos para el logo */
      .logo {
        width: 100px;
        height: auto;
      }

      /* Estilos para el menú */
      .menu {
        display: flex;
        gap: 1rem;
      }

      .menu-item {
        list-style-type: none;
      }

      .menu-link {
        color: #fff;
        text-decoration: none;
      }