.quad{
  height: 200px;
  width: 200px;
  border: 1px solid white;
  background-image: url();
  background-image: url(../SRC/HD-wallpaper-blue-and-yellow-merge-gradient-sleek-black-yellow-simple-blue-blend-shiny.jpg);
  border-radius: 15px;
  align-items: center;
  align-content: center;
  
}
.circle{
border: 1px solid white;
background-color: white;
border-radius: 100px;
width: 100px;
height: 100px;
margin: 50px;

}